.draggable.ui-draggable.ui-draggable-handle,
.draggable.ui-draggable.ui-draggable-handle label {
    cursor: move;
}

.draggable.ui-draggable.ui-draggable-dragging {
    box-shadow: 0 1px 3px #444;
    background-color: white;
    z-index:1;
    cursor: move;
}

.draggable.ui-draggable.ui-draggable-dragging label {
    cursor: move;
}

.draggable:not(.ui-draggable-dragging) {
    border: 2px solid #fff;
    transition: border 500ms ease-in;
}
.draggable.drag-start:not(.ui-draggable-dragging) {
    border: 2px solid #004489;
    transition: border 1000ms ease-out;
}

.drag-start.dragged:not(.ui-draggable-dragging):before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff80;
    mix-blend-mode: hard-light;
}
